

*{
 margin:0;
 padding:0;
 box-sizing: border-box;
 font-family: Cambria, Georgia, serif;
}

html, body{
  height:100%;
}


body{

  animation: bgGradAnim 60s linear infinite;
    
}

@keyframes bgGradAnim{
  
  0%{background-color: purple;}

  15%{background-color:blue;}

	20%{background-color:lightblue;}

	30%{background-color:green;}

	40%{background-color:lightgreen;}

	50%{background-color:yellow;} /*<-- give opacity*/
  
	70%{background-color:orange;}

  80%{background-color:orangered;}

  90%{background-color:#ff4a4a;}

  100%{background-color: purple;}
}


a{
  text-decoration: none;
  color:inherit;
}

.navbar{
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left:-50px;

}

.navbar ul{
  margin-top:14%;
  margin-left:30%;
  display:flex;
  
}

.navbar ul li:hover{
  opacity:0.7;
  cursor:pointer;
}

.navbar ul li{
  /* display: inline-block; */
  color: #000; 
  /* box-shadow: 0 0 30px 0 rgba(0,0,0,0.0); */
  border-radius: 10px;
  border: solid white;
  min-height:40px;
  min-width:100px;
  max-width:200px;
  text-align: center;
  /* float:left; */
  list-style:none;
  margin-left:10px;
  margin-top:10px;
  padding-top:5px;
}

.navbar img{
  width: 200px;
  margin-left:20%;
  margin-top:2%;
}


.liHome{
  background-image: linear-gradient(to bottom, yellow, orange);
}
.liGame{
  background-image: linear-gradient(to bottom, yellow, orange);
}
.liSettings{
  background-image: linear-gradient(to bottom, yellow, orange);
}
.liAbout{
  background-image: linear-gradient(to bottom, yellow, orange);
}

.landingHeader{
  margin-top:50px;
  color:white;
  font-size:48px;
  text-shadow:2px 2px black;
}

.startBtn{
  background-image: linear-gradient(to bottom, green, lightgreen);
  color:white;
  font-size:24px;
  width:160px;
  height:60px;
  margin:20px;
  /* does not work: */
  font-weight:900;
  /* does not work */
  outline:0;
  border-radius: 10px;
}


.startBtn2{
  background-image: linear-gradient(to bottom, green, lightgreen);
  color:white;
  font-size:24px;
  width:160px;
  height:60px;
  margin:60px;
  margin-top:100px;
  /* does not work: */
  font-weight:900;
  /* does not work */
  outline:0;
  border-radius: 10px;
}


.backToStartBtn{
  background-image: linear-gradient(to bottom, yellow, orange);
  color:white;
  font-size:24px;
  width:160px;
  height:60px;
  margin:60px;
  margin-top:100px;
  /* does not work: */
  font-weight:900;
  /* does not work */
  outline:0;
  border-radius: 10px;
}

.backToStartBtnFinish{
  background-image: linear-gradient(to bottom, yellow, orange);
  color:white;
  font-size:24px;
  width:320px;
  height:120px;
  margin:60px;
  margin-top:100px;
  /* does not work: */
  font-weight:900;
  /* does not work */
  outline:0;
  border-radius: 10px;
}


.startBtn:hover{
  opacity:0.7;
  cursor:pointer;
}

.startBtn_x2x3x4{
  background-image: linear-gradient(to bottom, green, lightgreen);
  color:white;
  font-size:24px;
  width:160px;
  height:60px;
  margin:20px;
  /* does not work: */
  font-weight:900;
  /* does not work */
  outline:0;
  border-radius: 10px;
}

.startBtn_x2x3x4:hover{
  opacity:0.7;
  cursor:pointer;
}


.MJEdescription{
  color:black;
  margin-top:30px;
  margin-bottom:30px;
  max-width:70%;
  /* text-align: center;
  justify-content: center;
  align-items:center ; */
  font-family: Calibri, sans-serif;
  
}

.stylePara{
  margin-right:auto;
  margin-left:auto;
  text-align: center;
  justify-content: center;
  display: flex; 

}


.container{
  display:flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; <=this messes up the margins*/
  flex-wrap: wrap;

}

.settingsHeading{
  margin-top:-50px;
  margin-bottom: 50px;
  color:white;
  font-size:48px;
  text-shadow:2px 2px black;
  display:block;
}

.formsSideBySide{
  display:inline-block;
  margin:40px;
}


/* syling SETTINGS forms:  */
.stylingForm1{
  display:flex;
  flex-direction: column;
  text-align: left;
}


/* --------------------------------------------------------------
BELOW - styling game area - copied from separte project - LDG - 20251013
-------------------------------------------------------------- */

/* default
  height:400px;
  width:700px; */

.gameContainer{
  margin-top:100px;
  margin-bottom:100px;
  height:400px;
  width:700px;
  /* background-color:red; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1em;
  animation: slowFocus 5s linear;
}

.gameContainer_12{
  margin-top:100px;
  margin-bottom:100px;
  height:200px;
  width:700px;
  /* background-color:red; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
  animation: slowFocus 5s linear;
}

.gameContainer_36{
  margin-top:100px;
  margin-bottom:100px;
  height:400px;
  width:1050px;
  /* background-color:red; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1em;
  animation: slowFocus 5s linear;
}


.settingsContainer{
  animation: slowFocus 1s linear;
}

@keyframes slowFocus{
  
  0%{opacity: 0;}

  50%{opacity:0.5;}

  100%{opacity:1;}
}

.card{
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height:40px;
  /* transform: rotateY(180deg);
  animation: 2s hideCard linear; */
}

.card span{
  opacity:0;
}

.card.active>span{
  opacity:100;
}
.card.active{
  background-color: orange;
}

.card.wrong{
  background-color: red;
}

.card.correct{
  background-color: greenyellow;
}

.card.vanish{
  opacity:0;
}


/* --------------------------------------------------------------
ABOVE - styling game area - copied from separte project - LDG - 20251013
-------------------------------------------------------------- */


.stylingAbout{
  /* background-color: #000; */
  display:inline-block;
  max-width:400px;
  float:left;  
}
.landingHeader2{
  margin-top:50px;
  color:white;
  font-size:48px;
  text-shadow:2px 2px black;
  padding-right:140px;
  margin-bottom:50px;
}
/* .headingAbout{
  text-align: center;} */
.stylingQuickAccess{
  /* background-color: #000; */
  display:inline-block;
  max-width:300px;
  clear:both;
}
.quickBtn{
  margin-top:50px;}
.MJEdescription2{
  color:black;
  margin-top:30px;
  margin-bottom:30px;
  /* max-width:120%; */
  padding:10%;
  margin-right:100px;
  text-align: center;
  justify-content: center;
  align-items:center ;
  font-family: Calibri, sans-serif;


    border: solid black 2px;
  background-color: white;

}


/* styling funfacts section */
.funContainer{

  border: solid black 2px;
  background-color: white;
  max-width:800px;
  margin-top:50px;
  margin-left:50px;
  padding:5%;

}

/* The media breakpoint was here - I move it down so it could work with other classes - LDG - 20260220 */



/* .styleTimer{

  text-align:center;
  display:block;
  margin-top:40px;
  font-size:28px;

} */

.styleMoves{

  text-align:center;
  display:block;
  font-size:28px;
  margin-top:40px;
  /* this width makes div with score and timer fold below the gameboard
  see the .container with: flex-wrap: wrap; */
  width:100%;

}

.styleResult{

  text-align:center;
  display:block;
  margin-top:20px;
  font-size:28px;

}

.styleResult2{

  text-align:center;
  display:block;
  margin-top:20px;
  font-size:28px;

}


.redFont{
  color:red;
  font-weight: 900;
  font-size: 28px;
}

/* --------------Styling Selectio Form-------------------- */

/* label{
  display:inline-block;
} */

/* Hide the actual radio/checkbox */
.image-selector input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;

}

/* Default image style */
.image-selector img {
  cursor: pointer;
  border: 4px solid white;
  transition: 0.3s;
  width:100px;
  height:60px;
  margin-right: 20px;
  opacity:50%;
}

/* Style when selected */
.image-selector input:checked + img {
  border-color: #2196F3; 
  transform: scale(1.05); 
  opacity: 100%;
}

.FormContainer{
  min-width:700px;
  margin-top:100px;

}

.checkbox-inline{
  display:inline-block;
}

.validMsg {
  opacity: 1;
  transition: opacity 0.8s ease-out;
  margin-top:30px;
  color:white;
}

.validMsg.fade-out {
  opacity: 0;
}


.mode-selector {
  display: flex;
  gap: 40px;
  margin-top: 40px;
  justify-content: center;

}

.mode-btn {
  min-width:140px;
  min-height:100px;
  padding: 20px 20px;
  border: 5px solid white;
  border-radius: 10px;
  cursor: pointer;
  background-image: linear-gradient(to bottom, yellow, orange);
  transition: background 0.2s, transform 0.1s;
  user-select: none;
  opacity: 50%;
  color:white;
}

.mode-btn.active {
  opacity:100%;
  border: 5px solid #2196F3;
}

.mode-btn input {
  display: none;
}

.mode-btn:active {
  transform: scale(0.97);
}



/* here I add a responsive navbar for small screens (flex->to->block) */
@media (max-width: 768px) {

      .navbar{
        width: 100%;
        display: block;
        justify-content: center;
        text-align: center;
        /* padding: 15px, 8%;
        background-color: white; */
        margin-left:-50px;
      }

      .navbar ul{
        margin-top:14%;
        margin-left:30%;
        display:block;
      }

      .gameContainer{
        margin-top:100px;
        margin-bottom:100px;
        height:400px;
        width:100vw;
        /* background-color:red; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 0.5em;
        animation: slowFocus 5s linear;
      }

      .gameContainer_12{
        margin-top:100px;
        margin-bottom:100px;
        height:200px;
        width:100vw;
        /* background-color:red; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1em;
        animation: slowFocus 5s linear;
      }

      .gameContainer_36{
        margin-top:100px;
        margin-bottom:120px;
        height:600px;
        width:100vw;
        /* background-color:red; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 1em;
        animation: slowFocus 5s linear;
      }
      /* how to give a padding on left and right? */

      .card{
        background-color: white;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-height:40px;

        
        /* this 29vw worked when there was no fontsize set - it gave nice margin on mobile*/
        max-width:27vw;
        /* this sets the fontsize hardcoded not responsive */
        font-size:12px;
        min-width:27vw;
      }

      .container{
        display:flex;
        align-items: center;
        justify-content: center;
        margin-bottom:200px;
        max-width:100%;
        /* margin-left:10px; */

      }

      /* styling about section on small devices */
      .stylingAbout{
        display:block;
      }
      .stylingQuickAccess{
        display:block;
      }

      /* a new content 20260220 */

      .image-selector img {
        cursor: pointer;
        border: 4px solid white;
        transition: 0.3s;
        width:55px;
        height:40px;
        margin-right: 10px;
        opacity:50%;
      }

      /* Style when selected */
      /* .image-selector input:checked + img {
        border-color: #2196F3; 
        transform: scale(1.05); 
        opacity: 100%;
      } */

      /* .mode-btn{
        max-width: 20px;
      } */

      .mode-selector {
        display: flex;
        gap: 10px;
        margin-top: 40px;
        justify-content: center;

      }

      .mode-btn {
        min-width:100px;
        min-height:60px;
        padding: 20px 20px;
        border: 5px solid white;
        border-radius: 10px;
        cursor: pointer;
        background-image: linear-gradient(to bottom, yellow, orange);
        transition: background 0.2s, transform 0.1s;
        user-select: none;
        opacity: 50%;
        color:white;
      }

      .mode-btn:active{
        opacity:100%;
      }

      .validMsg {
        margin-left:auto;
        margin-right:auto;
        max-width:100vw;
        text-align:center;
        padding:20px;
      }

      
      .startBtn_x2x3x4{
        background-image: linear-gradient(to bottom, green, lightgreen);
        color:white;
        font-size:20px;
        width:110px;
        height:50px;
        margin:5px;
        margin-top:20px;
        margin-bottom:20px;
        /* does not work: */
        font-weight:900;
        /* does not work */
        outline:0;
        border-radius: 10px;
      }

      .startBtn_x2x3x4:hover{
        opacity:0.7;
        cursor:pointer;
      }


  }





